# Игнорирование виртуальных окружений (venv)
venv/
.env/

# Игнорирование кэша python
__pycache__/
*.pyc
*.pyo

# Игнорирование пакетов сборки (если вы используете pyinstaller)
dist/
build/

# Логика сборки PyInstaller
*.egg-info/